<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/regras_extracao_dados"
        tools:targetApi="31"
        android:icon="@mipmap/icone_app"
        android:label="@string/nome_app"
        android:supportsRtl="true"
        android:theme="@style/Tema.QuizSI">
        <activity android:name=".AtividadeResultado" android:exported="false" />
        <activity android:name=".AtividadeQuiz" android:exported="false" />
        <activity android:name=".AtividadePrincipal" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
